
{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "ALB.template - Elastic Load Balancer v2 (Application Load Balancer) template.",
  "Metadata": {
    "AWS::CloudFormation::Interface": {
      "ParameterGroups": [
        {
          "Parameters": [
            "VPCID",
            "Scheme",
            "Subnets",
            "SecurityGroups",
            "LoadBalancerName",
            "DeletionProtection",
            "TimeOut",
            "LoadBalancerNameVersion"
          ],
          "Label": {
            "default": [
              "Application Load Balancer General Configuration"
            ]
          }
        }
